<style>
  .T {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 35px;
    color: rgb(25, 195, 238);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .I {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
    color: rgb(15, 73, 231);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .S {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    color: rgb(33, 6, 155);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>


<div class="M">
  <h1 class="T">Angular-Heroku</h1>
  <h3 class="I">Crear una aplicacion angular <br>
    Modificar la aplicacion para que no muestre la plantilla de la aplicacion, sino que muestre un texto con el nombre y
    el numero carnet del estudiante<br>
    Desplegar en Heroku<br>
    Adjuntar a esta tarea el link de la aplicacion en Heroku<br>
  </h3>
  <p class="S">Ronald Joseu Ruano Vicente <br>
  0907-18-7064</p>

</div>
